#info .info-content {
  display: flex;
  width: 100%;
  gap:4px;
  align-items: center;
  flex-direction: column;
}

#info .info-content .amount {
    font-size: 40px;
    font-weight: 800;
    
}

#info .info-content .type {
    font-family: "Alegreya", serif;
    font-size: 30px;
    font-weight: 700;
}

#info .wrapper {
    position: relative;
}

#info .bg-element-2 {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Smartphone version */
@media (max-width: 720px) {
    section .content-container {
        flex-direction: column;
        gap: 80px;
    }
    #info .content-container img {
        height: 100px;
    }
    #info .info-content .amount {
        font-size: 32px;
    }
    #info .info-content .type {
        font-size: 32px;
    }
    #info .bg-element-2 {
        left: 32px;
    }
}