#blog .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

#blog .post img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

#blog .post {
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all 400ms ease;
}

#blog .post:hover {
    transform: scale(1.04);
}

#blog .post .tag {
    position: absolute;
    font-family: "Alegreya", serif;
    font-size: 13px;
    font-weight: 800;
    color: #000000;
    background: #ffffff;
    padding: 0px 16px;
    right: 8px;
    top: 8px;
    border-radius: 10px;
}

#blog .post .post-title {
    font-family: "Alegreya";
    font-size: 18px;
    font-weight: 800;
    color: #000000;
    padding: 16px 24px;
    margin: 0px;
}

#blog .btn-container {
    display: flex;
    justify-content: right;
}

#blog .all-post-btn {
    font-family: "Alegreya", serif;
    font-weight: 800;
    font-size: 16px;
    color: #000000;
    padding: 4px 32px;
    background: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
}